global:
  resolve_timeout: 5m
  http_config:
    follow_redirects: true
    enable_http2: true
  smtp_hello: localhost
  smtp_require_tls: true
  smtp_tls_config:
    insecure_skip_verify: false
  pagerduty_url: https://events.pagerduty.com/v2/enqueue
  opsgenie_api_url: https://api.opsgenie.com/
  wechat_api_url: https://qyapi.weixin.qq.com/cgi-bin/
  victorops_api_url: https://alert.victorops.com/integrations/generic/20131114/alert/
  telegram_api_url: https://api.telegram.org
  webex_api_url: https://webexapis.com/v1/messages
  rocketchat_api_url: https://open.rocket.chat/

route:
  receiver: "null"
  group_by:
    - namespace
  continue: false
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 12h

  routes:
    - receiver: "burst-webhook"
      matchers:
        - alertname="CloudburstAtMaxCapacity"
      continue: false

inhibit_rules:
  - source_matchers:
      - severity="critical"
    target_matchers:
      - severity=~"warning|info"
    equal:
      - namespace
      - alertname
  - source_matchers:
      - severity="warning"
    target_matchers:
      - severity="info"
    equal:
      - namespace
      - alertname
  - source_matchers:
      - alertname="InfoInhibitor"
    target_matchers:
      - severity="info"
    equal:
      - namespace
  - target_matchers:
      - alertname="InfoInhibitor"

receivers:
  - name: burst-webhook
    webhook_configs:
      - url: http://burst-webhook.monitoring.svc.cluster.local/alert
        send_resolved: true

templates:
  - /etc/alertmanager/config/*.tmpl
