name: Renovate
on:
  workflow_dispatch: {}

jobs:
  renovate:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Renovate
        uses: renovatebot/github-action@v39.1.0
        env:
          RENOVATE_TOKEN: ${{ secrets.GITHUB_TOKEN }}
